[Unit]
Description=Periodic update for SIS MDM agent

[Timer]
OnCalendar=hourly
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
