[Unit]
Description=SIS MDM agent self-update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sis/mdm-agent.sh self-update
