[Unit]
Description=SIS MDM agent poll commands
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sis/mdm-agent.sh poll
